/* Start FOnt */
@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet");
/* End FOnt */

/* Start Body */
body {
    /* background-color: rgb(230, 95, 95); color: azure;  */
    background-image: url("../images/.jpg");
    color: black;
    background-repeat: non-repeat;
    background-size: ; cover;
    font-family: 'Arvo,' serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
} 
/* End Body */

/* Start Debug */
.bg-red {
    background-color: rgb(207, 57, 57)
}

.bg-white {
    background-color: white
}

.bg-pink {
    background-color: palevioletred;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90% 
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%
}
.container-middle {
    margin: 20px auto;
    overflow: auto;
    width: 80%;
    text-align: center;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: left
}
/* End Logo */

/* Start Anchor / HyperLink */
a:link,
a:visited {
    color: rgb(0, 170, 255);
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}
/* End Anchor / HyperLink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(50, 87, 99);
    border-radius: 4px;
    box-shadow:
        0 3px 5px -1px rgb(73, 16, 16),
        0 6px 10px 0 brown,
        0 1px 18 px black;
}

.menu-primer li {
    border-right: 1px solid white;
    display: inline-block;
}

.menu-primer a { 
    color: white;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: rgb(182, 225, 228);
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: white;
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer */
 
/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 34px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 28x;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: rgb(182, 225, 228);
    border: 1px solid: aqua;
    border radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
} 
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
    width: 49%;
}

.main-home-two {
    float: right;
    width: 49%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 95px
}

.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}
/* End Main */

/* Start Sidebar */
.sidebar-two {
    loat: right;
    overflow: auto;
    width: 30%;
}
/* End Sidebar */

/* Start Box */
.box-heading {
    background-color: rgb(50, 87, 99);
    border: 1px solid whitesmoke;
    border-radius: 5px 33x 0 0;
    margin: 0;
    padding; 10px 0px;
    text-transform: uppercase;
    text-align: left;
    color: white;
}
.box-heading h4 {
    font-size: 16px;
    margin: 5px 5px;
}
.box-heading h2 {
    font-size: 16px;
    margin: 0 0 1px 20px;
    text-align: left;
    padding: 5px 0;
}
.box-isi {
    background-color: #ffffff;
    border: 1px solid whitesmoke;
    border-top: 1px;
    margin: 0;
    padding; 10px 20px;
    font-size: 18px;
}
.box-isi-table {
    font-size: 16px;
    margin: 0 0 4px 4px;
}
/* End Box */

/* Start Pesan dan Kesan */
.kritik-dan-saran {
    border-left: 4px solid rgb(50, 87, 99);
    margin-left: 30px;
    padding-left: 20px;
}
/* End Pesan dan Kesan */

/* Start Perpus Table */
.perpus-table {
    border: 1px solid rgb(182, 225, 228);
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
.perpus-table th {
    background-color: rgb(241, 244, 247);
}
.perpus-table td {
    text-align: center;
}
/* End Perpus Table */

/* Start Form */
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px;
    margin: 0 20px;
}

input::placeholder,
textarea::place {
    color: rgb(182, 225, 228);
    font-weight: 300;
}
label {
    margin: 0 20px;
}
input[type="submit"],
.button {
    background-color: #ffffff;
    background-image: linear-gradient(-180deg);
    border: 1px solid rgb(10, 61, 78);
    border-radius: 4px;
    color: black !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-align: middle;
}
/* End Form */

/* Start Contact Form */
.contact-form-div {
    margin: 30px 0;
}
/* End Contact Form */


/* Start Menu Sekunder */
.menu-sekunder-one {
    border-bottom: 1px solid: black;
    border-top: 1px solid: black;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder {
    background-color: rgb(50, 87, 99);
    font-size: 12px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul{
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekuner li a,
.menu-sekunder p {
    font-size: 12px;
}
.menu-sekunder-one, 
.menu-sekunder-two,
.menu-sekunder-three {
    color: white;
    float: left;
}
.menu-sekunder-one {
    width: 45%;
}
.menu-sekunder-two {
    width: 20%;
}
.menu-sekunder-three {
    width: 35%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* End Copyright */

/* Start Effect */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.snip1552 {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background-color: #fff;
}

.snip1552 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1552 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  height: 200px;
  weight: 400px;
}

.snip1552 figcaption {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  z-index: 1;
  bottom: 0;
}

.snip1552 h3,
.snip1552 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1552 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}

.snip1552 p {
  font-weight: normal;
  font-style: italic;
  color: #888;
  font-size: 0.9em;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.snip1552 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1552:hover > img,
.snip1552.hover > img {
  opacity: 0.1;
}

.snip1552:hover h3,
.snip1552.hover h3,
.snip1552:hover p,
.snip1552.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/* End Effect */